################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StagingWizard/StagingWizard/bin
/StagingWizard/StagingWizard/obj
/StagingWizard/.vs/
